@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SatoshiBold";
  src: url("../public/satoshi/fonts/Satoshi-Medium.woff"),
    url("../public/satoshi/fonts/Satoshi-Medium.ttf"),
    url("../public/satoshi/fonts/Satoshi-Medium.woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "PoppinsNormal";
  src: url("../public/poppins/Poppins-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PoppinsSemiBold";
  src: url("../public/poppins/Poppins-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "GraphikMedium";
  src: url("../public/Graphik2/GraphikMedium.otf");
  font-weight: 500;
  font-style: normal;
}


.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}
