@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SatoshiRegular";
  src: url("../public/satoshi/fonts/Satoshi-Regular.woff"),
    url("../public/satoshi/fonts/Satoshi-Regular.ttf"),
    url("../public/satoshi/fonts/Satoshi-Regular.woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SatoshiBold";
  src: url("../public/satoshi/fonts/Satoshi-Medium.woff"),
    url("../public/satoshi/fonts/Satoshi-Medium.ttf"),
    url("../public/satoshi/fonts/Satoshi-Medium.woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "PoppinsNormal";
  src: url("../public/poppins/Poppins-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "PoppinsBold";
  src: url("../public/poppins/Poppins-Bold.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "PoppinsSemiBold";
  src: url("../public/poppins/Poppins-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "GraphikMedium";
  src: url("../public/Graphik2/GraphikMedium.otf");
  font-weight: 500;
  font-style: normal;
}


.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}


.scrollableCSS::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

.scrollableCSS::-webkit-scrollbar-thumb {
  background: darkgrey;
}

.scrollableCSS::-webkit-scrollbar-thumb:hover {
  background: #1C0477;
}


.tabling {
  border-collapse: separate;
  border-spacing: 0px 10px;
}


/* .tabling tr {
  box-shadow: 0px 2px 2px 0px rgba(34, 34, 34, 0.1);
} */
